/*여기서부터 */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

ul li a:hover {
    background-color: #f0f0f0;
}
/* 나의 채팅 */
.myChatbox {
    margin-top: 10px;
    margin-left: 210px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    width: 600px;
    height: calc(100vh - 20px);
    background-color: aliceblue;
}
.myChatList{
	max-height: calc(100vh - 120px);
    /* 스크롤 기능 */
	overflow: hidden;
	overflow-y: scroll;
}
/* 스크롤 숨기기 */
.myChatList::-webkit-scrollbar {
  display: none;
}
.chatTitle{
	text-align: center;
	color: #333;
/* 	background-color: aliceblue; */
	border-radius: 10px;
}
.chatTitle h1{
	margin: 0px;
	padding: 20px;
}


/* 오픈채팅 */
.openChatbox {
    margin-top: 10px;
    margin-left: 10px;
	width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 20px);
    background-color: aliceblue;
}
.openChatList{
	max-height: calc(100vh - 165px);
    /* 스크롤 기능 */
	overflow: hidden;
	overflow-y: scroll;
}
/* 스크롤 숨기기 */
.openChatList::-webkit-scrollbar {
  display: none;
}
