<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UsersloginCon</servlet-name>
  	<display-name>UsersloginCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.UsersloginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersJoinCon</servlet-name>
  	<display-name>UsersJoinCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.UsersJoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createChatRoomCon</servlet-name>
  	<display-name>createChatRoomCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.createChatRoomCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdataToDBCon</servlet-name>
  	<display-name>userdataToDBCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.userdataToDBCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageToDBCon</servlet-name>
  	<display-name>MessageToDBCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.MessageToDBCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnterRoomCon</servlet-name>
  	<display-name>EnterRoomCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.EnterRoomCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersLogoutCon</servlet-name>
  	<display-name>UsersLogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.UsersLogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersUpdateCon</servlet-name>
  	<display-name>UsersUpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.UsersUpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersDeleteCon</servlet-name>
  	<display-name>UsersDeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.UsersDeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>postUpCon</servlet-name>
  	<display-name>postUpCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.postUpCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>profileAndNickCon</servlet-name>
  	<display-name>profileAndNickCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.profileAndNickCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>profileUpCon</servlet-name>
  	<display-name>profileUpCon</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.profileUpCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>post</servlet-name>
  	<display-name>post</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.post</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>postUp</servlet-name>
  	<display-name>postUp</display-name>
  	<description></description>
  	<servlet-class>com.dicogram.controller.postUp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UsersloginCon</servlet-name>
  	<url-pattern>/UsersloginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersJoinCon</servlet-name>
  	<url-pattern>/UsersJoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createChatRoomCon</servlet-name>
  	<url-pattern>/createChatRoomCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdataToDBCon</servlet-name>
  	<url-pattern>/userdataToDBCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageToDBCon</servlet-name>
  	<url-pattern>/MessageToDBCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnterRoomCon</servlet-name>
  	<url-pattern>/EnterRoomCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersLogoutCon</servlet-name>
  	<url-pattern>/UsersLogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersUpdateCon</servlet-name>
  	<url-pattern>/UsersUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersDeleteCon</servlet-name>
  	<url-pattern>/UsersDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>postUpCon</servlet-name>
  	<url-pattern>/postUpCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>profileAndNickCon</servlet-name>
  	<url-pattern>/profileAndNickCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>profileUpCon</servlet-name>
  	<url-pattern>/profileUpCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>post</servlet-name>
  	<url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>postUp</servlet-name>
  	<url-pattern>/postUp</url-pattern>
  </servlet-mapping>
  

</web-app>
